<!DOCTYPE html>
<html>
<head>
  <title>Verificação</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Verifique sua conta</h1>
    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= process.env.DISCORD_CLIENT_ID %>&redirect_uri=<%= process.env.DISCORD_REDIRECT_URI %>&response_type=code&scope=identify%20email%20guilds.join" class="button">Verificar com Discord</a>
  </div>
</body>
</html>
