<!DOCTYPE html>
<html>
<head>
  <title>Verificação Concluída</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Verificado com sucesso, <%= user.username %>!</h1>
    <p>Você já recebeu o cargo no servidor.</p>
  </div>
</body>
</html>
